{% include 'user_header.html'%}

<!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header4">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-uppercase text-dark mb-lg-4" ><span style="color: white">Add Amount</span></h1>
                 <form method="post" enctype="multipart/form-data">
	
		<table style="width: 500px"  class="table">

				<tr>
			<th>Amount</th>
			<td><input type="text" name="amount"></td>
		</tr>
		
			<tr>
				<td style="text-align: center;" colspan="2"><input type="submit" name="pet_add" class="btn btn-success"></td>
			</tr>
		</table>

	</form>

                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                        <!-- <a href="login" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5">Read More</a> -->
                        <!-- <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal"> -->
                            <span></span>
                        </button>
                        <!-- <h5 class="font-weight-normal text-white m-0 ms-4 d-none d-sm-block">Play Video</h5> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


{% include 'footer.html'%}