{% include 'admin_header.html'%}
<br>	<br>	<br>	
<center>
<h1>View Appointment</h1>

	<table class="table">
		<tr>
			<th>User Name</th>
			<th>Category</th>
			<th>Status</th>
			<th>Book Date</th>
			<th>Date</th>
		</tr>
		{% for i in data['view']%}
		<tr>
			<td>{{i['first_name']}}</td>
			<td>{{i['category_name']}}</td>
			<td>{{i['status']}}</td>
			<td>{{i['book_date']}}</td>
			<td>{{i['date']}}</td>
			{% if i['status']=='pending'%}
			<td><a href="?action=accept&aid={{i['appointment_id']}}" class="btn btn-info">Accept</a></td>
			<td><a href="?action=reject&aid={{i['appointment_id']}}" class="btn btn-info">Reject</a></td>
			{% endif%}
			{% if i['status']=='accept'%}
			<td><a href="admin_assign_staff?aid={{i['appointment_id']}}" class="btn btn-info">Assign Staff</a></td>
			{% endif%}
			<td><a href="admin_view_petdetails?pid={{i['pet_id']}}" class="btn btn-info">Pet Details</a></td>
			
		</tr>
		{% endfor%}
	</table>
</center>
{% include 'footer.html'%}