

  {% include 'user_header.html' %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
<body>

	<form method="post" style="padding: 40px">
		<center>	
		<H1>ENTER YOUR DETAILS</H1>
		<table >
		
			<tr>
				<th>PETS</th>
				<td>
				<select name="pet" required="" class="form-control">
					<option >Select</option>
					<option value="Cats">Cat</option>
					<option value="Dogs">Dog</option>
					<option value="Rabbits">Rabbit</option>
				</select>
				</td>			
			</tr>
			<tr>
				<th>Sleeping Patterns</th>
				<td>
				<select name="pc" required="" class="form-control">
					<option >Select</option>
					<option value="12 to 16 hours a day crepuscular">12 to 16 hours a day crepuscular</option>
					<option value="Long sleep duration">Long sleep duration</option>
					<option value="Most active at dawn and dusk">Most active at dawn and dusk</option>
					<option value="Multiple short naps throughout the day">Multiple short naps throughout the day</option>
					<option value="10-14 hours a day; diurnal">10-14 hours a day; diurnal</option>
					<option value="Moderate sleep duration">Moderate sleep duration</option>
					<option value="Regular sleep patterns">Regular sleep patterns</option>
					<option value="Varied sleep durations">Varied sleep durations</option>
					<option value="8-10 hours a day; nocturnal">8-10 hours a day; nocturnal</option>
					<option value="Variable sleep patterns">Variable sleep patterns</option>
					<option value="Daytime napping">Daytime napping</option>
					<option value="Restful sleep during the day">Restful sleep during the day</option>
				</select>
				</td>			
			</tr>
			<tr>
				<th>Activity Patterns</th>
				<td>
				<select name="pcc" required="" class="form-control">
					<option >Select</option>
					<option value="More active at dawn and dusk">More active at dawn and dusk</option>
					<option value="Crepuscular Behavior">Crepuscular Behavior</option>
					<option value="Peak Activity">Peak Activity</option>
					<option value="Napping">Napping</option>
					<option value="More active during the day">More active during the day</option>
					<option value="Daytime Activity">Daytime Activity</option>
					<option value="Peak Activity in the evening">Peak Activity in the evening</option>
					<option value="Variable Activity">Variable Activity</option>
					<option value="Most active in the evening">Most active in the evening</option>
					<option value="Moderate daytime activity">Moderate daytime activity</option>
					<option value="Binky (joyful leaps)">Binky (joyful leaps)</option>
					<option value="Limited activity">Limited activity</option>

				</select>
				</td>			</tr>
			<tr>
				<th>Exercise</th>
				<td>
				<select name="ba" required="" class="form-control">
					<option >Select</option>

				<option value="Morning Playtime (Dawn)">Morning Playtime (Dawn)</option>
				<option value="Midday Nap (After Dawn)">Midday Nap (After Dawn)</option>
				<option value="Afternoon Enrichment (Pre-Dusk)">Afternoon Enrichment (Pre-Dusk)</option>
				<option value="Evening Playtime (Dusk)">Evening Playtime (Dusk)</option>
				<option value="Morning Walk">Morning Walk</option>
				<option value="Afternoon Playtime">Afternoon Playtime</option>
				<option value="Evening Run">Evening Run</option>
				<option value="Throughout the day">Throughout the day</option>
				<option value="Evening Hopping">Evening Hopping</option>
				<option value="Daytime Exploration">Daytime Exploration</option>
				<option value="Running in Playpen">Running in Playpen</option>
				<option value="Free-roam playtime">Free-roam playtime</option>


				</select>
				</td>
			</tr>
			<tr>
				<th>Diet</th>
				<td>

				<select name="bgr" required="" class="form-control">
					<option >Select</option>

				<option value="Main Meal">Main Meal</option>
				<option value="Light Snack">Light Snack</option>
				<option value="Interactive Feeding">Interactive Feeding</option>
				<option value="Hay, Fresh Vegetables, Pellets">Hay, Fresh Vegetables, Pellets</option>
				<option value="Fresh Greens, Occasional Treats">Fresh Greens, Occasional Treats</option>
				<option value="Unlimited Hay, Fresh Vegetables">Unlimited Hay, Fresh Vegetables</option>


				</select>


				</td>
			</tr>
			<tr>
				<th>Common Health Issues</th>
				<td>
			<select name="bu" required="" class="form-control">
				<option >Select</option>

				<option value="Obesity">Obesity</option>				
				<option value="Dental Disease">Dental Disease</option>
				<option value="Parasites (Fleas, Ticks, Worms)">Parasites (Fleas, Ticks, Worms)</option>
				<option value="Urinary Tract Disease">Urinary Tract Disease</option>
				<option value="Joint Problems">Joint Problems</option>				
				<option value="Hairballs">Hairballs</option>
				<option value="Gastrointestinal Issues">Gastrointestinal Issues</option>
		

				</select>		



				</td>
			</tr>




			<tr>
				<th>Behavioral Pattern</th>
				<td>
					
				<select name="sc" required="" class="form-control">
					<option >Select</option>
					<option value="Litter Box Use">Litter Box Use</option>
					<option value="Scratching">Scratching</option>
					<option value="Vocalization">Vocalization</option>
					<option value="Play">Play</option>
					<option value="House Training">House Training</option>
					<option value="Barking">Barking</option>
					<option value="Digging">Digging</option>
					<option value="Chewing">Chewing</option>
					<option value="Thumping">Thumping</option>
					<option value="Socialization">Socialization</option>
					<option value="Licking">Licking</option>

				</select>		


				</td>



				</td>
			</tr>			
			<tr>
				<th>Obedience Level</th>
				<td>


				<select name="sod" required="" class="form-control">
					<option >Select</option>
					<option value="Moderate">Moderate</option>
					<option value="Low to Moderate">Low to Moderate</option>
					<option value="Low">Low</option>
		

				</select>		



				</td>
			</tr>			
			
			<tr><td style="text-align: center;" colspan="2"><input type="submit" name="add" class="btn btn-success" value="submit"></td></tr>

<tr><td style="text-align: center;">
	Pet Averall Health is <h5>{{data['result']}}</h5>

</td></tr>






					</table>
	</form>


<center>
	  <table class="table">
            <tr>
                <th>Pet</th>
                <th>Sleeping Patterns</th>
                <th>Activity Patterns</th>
                <th>Exercise</th>
                <th>Diet</th>
                <th>Health Issues</th>
                <th>Behavioral Pattern</th>
                <th>Obedience Level</th>
                <th>Output</th>
                <th>Action</th>
            </tr>
            {% for i in data['view'] %}
            <tr>
                <td>{{i['pet']}}</td>
                <td>{{i['Sleeping_Patterns']}}</td>
                <td>{{i['Activity_Patterns']}}</td>
                <td>{{i['Exercise']}}</td>
                <td>{{i['Diet']}}</td>
                <td>{{i['Health_Issues']}}</td>
                <td>{{i['Behavioral_Pattern']}}</td>
                <td>{{i['Obedience_Level']}}</td>
                <td>{{i['out']}}</td>
                <td>
                    {% if loop.index == data['view']|length %}
                        <a href="user_manage_pet" class="btn btn-success">Veterinary Appointment</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
</center>
</body>
</html>
</center>
    {% include 'footer.html' %}