{% include 'shop_header.html'%}
<center>
	<form method="post">
		<table>
			<tr>
				<th>Complaint</th>
				<td><textarea name="comp" required="" class="form-control"></textarea></td>
			</tr>
			<tr>
				<td style="text-align: center" colspan="2"><input type="submit" name="comp" class="btn btn-success"></td>
			</tr>
		</table>	
	</form>

	<table>
		<tr>
			<th>Complaint</th>
			<th>Reply</th>
			<th>Date</th>
		</tr>

		{% for i in data['view']%}
		<tr>
			<td>{{i['complaint']}}</td>
			<td>{{i['reply']}}</td>
			<td>{{i['date']}}</td>
		</tr>
		{% endfor%}
	</table>
</center>
{% include 'footer.html'%}