<!-- <center>
	<table>
		<tr>
			<th>Item</th>
			<th>Type</th>
			<th>Amount</th>
			<th>Date</th>
		</tr>
		{% for i in data['view']%}
		<tr>
			<td>{{i['payment_for_id']}}</td>
			<td>{{i['payment_type']}}</td>
			<td>{{i['amount']}}</td>
			<td>{{i['date']}}</td>
		</tr>
		{% endfor%}
	</table>
</center> -->


{% include 'shop_header.html'%}



   <!-- About Start -->
    <div class="container-fluid py-8">
        <div class="container">
<!--             <div class="row gx-5">
 -->               <!--  <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="static/img/about.jpg" style="object-fit: cover;">
                    </div>
                </div> -->
                <div class="col-lg-12">
                    <div class="border-start border-5 border-primary ps-5 mb-5">
                        <!-- <h6 class="text-primary text-uppercase">About Us</h6> -->
                        <h1 class="display-5 text-uppercase mb-0"> Booking</h1>
                    </div>
                    <!-- <h4 class="text-body mb-4">Diam dolor diam ipsum tempor sit. Clita erat ipsum et lorem stet no labore lorem sit clita duo justo magna dolore</h4> -->
                    <div class="bg-light p-4">
                        <ul class="nav nav-pills justify-content-between mb-3" id="pills-tab" role="tablist">
                            <!-- <li class="nav-item w-50" role="presentation">
                                <button class="nav-link text-uppercase w-100 active" id="pills-1-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1"
                                    aria-selected="true">Pet Payment</button>
                            </li> -->
                            <!-- <li class="nav-item w-50" role="presentation">
                                <button class="nav-link text-uppercase w-100" id="pills-2-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2"
                                    aria-selected="false">Accessories Payment</button>
                            </li> -->
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
            
	<table class="table">
		<tr>
			
			<th>Payment For</th>
			<th>Price</th>
			<th>Booking Date</th>
			
		</tr>
		{% for i in data['view1']%}
		<tr>
			<td>{{i['payment_type']}}</td>
			<td>{{i['amount']}}</td>
			<td>{{i['date']}}</td>
			
		</tr>
		{% endfor%}
	</table>
</center>
                            </div>
                           <!--  <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                                 <center> -->
	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
{% include 'footer.html'%}