{% include 'user_header.html'%}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header4">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="display-1 text-uppercase text-dark mb-lg-4"><span style="color: white">Add Images</span></h1>
                <form method="post" enctype="multipart/form-data">
                    <table>
                        <tr>
                            <th style="padding: 20px">Image</th>
                            <td><input type="file" name="p_image" required class="form-control"></td>
                        </tr>
                        <tr>
                            <th style="padding: 20px">Select Type</th>
                            <td><select name="type" class="form-control">
                                <option value="image">Image</option>
                                <option value="video">Video</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td style="text-align: center;" colspan="2"><input type="submit" name="add" class="btn btn-success"></td>
                        </tr>
                    </table>
                </form>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<center>
    <div class="container">
        <div class="row">
            {% for i in data['view'] %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if i['type'] == 'image' %}
                        <img src="/{{i['file']}}" class="card-img-top" alt="Image" style="height: 400px; object-fit: cover;">
                    {% elif i['type'] == 'video' %}
                        <video class="card-img-top" style="height: 400px; object-fit: cover;" controls>
                            <source src="/{{i['file']}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}
                    <div class="card-body text-center">
                        <a href="?action=delete&pet_id={{i['pet_image_id']}}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</center>

{% include 'footer.html'%}
