{% include 'user_header.html'%}

<center>
<h1>View Appointment</h1>

	<table class="table">
		<tr>
			<th>User Name</th>
			<th>Category</th>
			<th>Status</th>
			<th>Book Date</th>
			<th>Date</th>
			<th>Amount</th>
		</tr>
		{% for i in data['view']%}
		<tr>
			<td>{{i['first_name']}}</td>
			<td>{{i['category_name']}}</td>
			<td>{{i['astatus']}}</td>
			<td>{{i['book_date']}}</td>
			<td>{{i['date']}}</td>
			<td>{{i['amount']}}</td>
			{% if i['astatus']=='addamount'%}
			<td><a href="user_make_payment?cat={{i['category_name']}}&aid={{i['appointment_id']}}&amount={{i['amount']}}" class="btn btn-info">Make Payment</a></td>
			{% endif%}
			
			
						<td><a href="staff_chat?slid={{i['s_lid']}}">Chat</a></td>

		</tr>
		{% endfor%}
	</table>
</center>
{% include 'footer.html'%}